.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px  rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-top: 30px;
}
h1
{
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}
.input-container{
    display: flex;
    gap:10px;
    margin-bottom:4%;
}
input{
    flex:1;
    padding:10px;
    font-size: 18px;
    border:1 px solid #fff;
    border-radius:5px;
}
.add-button{
    padding:10px;
    font-size: 35px;
    color:violet;
    background-color:#007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2 ease-in-out ;
}
.newbox{
    list-style: none;
    margin: 0;
    padding: 0;
}